.btneffect{
    text-decoration: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.btneffect:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);

}
.btneffect::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(19, 19, 19);
}
.btneffect span{
    position: relative;
    z-index: 1;

}
.btneffect i {
    position: absolute;
    inset: 0;
    display: block;
}
.btneffect i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    background:  rgb(19, 19, 19);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

